<div class="row">

  <div class="col-sm-4">
    <h1 class="add">Edit Employee</h1>
  </div>
  <div class="col-sm-4">

    <%= bootstrap_form_for(@employee) do |form| %>

      <%= form.text_field :name %>
      <%= form.number_field :ssn %>
      <%= form.date_field :birth %>
      <%= form.url_field :image_url %>
      <%= form.submit class: 'btn btn-success'%>

      or
      
      <%= link_to "Cancel", "/employees" %>

  <% end %>

</div>
</div>