<div class="row">
  <div class="buttons">
    <%= link_to "+ Employee", "/employees/new", class: 'btn btn-primary addnew' %>
    <%= link_to "+ Job", "/jobs/new", class: 'btn btn-primary addnew' %>
    <%= link_to "See all employees and roles", "/all", class: 'all' %>
  </div>
</div>


<div class="row">
  
<% @divisions.each do |division| %>
      
  <div class="employee_list container">
    <p class = "title1 "> <%= division.name%> </p>
      <% division.departments.each do |department|%>
        <% department.jobs.each do |job|%>  
          <% @employees.where(id: job.employee_id).each do |employee|%>
            <div class= "profile thumbnail col-xs-8 col-sm-2">
              <a href="/employees/<%= job.employee_id%>">
                 <%= image_tag employee.image_url, :class=> "photo" %>
              </a>
              <div>
                <%= link_to employee.name, "/employees/#{job.employee_id}", :class=> "name" %>
              </div>
              <div>
                <a href="/jobs/<%=job.id%>"><%= job.role.name %> of <%=job.department.name%></p>
              </div>
            </div>
          <% end %>  
        <% end %>
      <% end %>
  </div> 
<% end %>



