<div class="row">

  <div class="col-sm-4">
    <h1 class="add">Edit Job</h1>
  </div>
  <div class="col-sm-4">

    <%= bootstrap_form_for(@job) do |form| %>

      <%= form.collection_select :employee_id, Employee.all, :id, :name %>
      <%= form.collection_select :role_id, Role.all, :id, :name, label: "Role" %>
      <%= form.collection_select :department_id, Department.all, :id, :name, label: "Department" %>
      <%= form.date_field :enroll, label: "Enrollment Date" %>
      <%= form.number_field :grosswage, label: "Monthly Gross Wage" %>
      <%= form.submit class: 'btn btn-success'%>

      or
      
      <%= link_to "Cancel", "/employees" %>

  <% end %>

</div>