<div class="row">

  <div class="col-sm-4">
    <h1 class="add">Edit Job</h1>
  </div>
  <div class="col-sm-4">

    <%= bootstrap_form_for(@job) do |form| %>

      <%= form.text_field :name %>
      <%= form.date_field :enroll %>
      <%= form.collection_select :division_id, Division.all, :id, :name %>
      <%= form.collection_select :department_id, Department.all, :id, :name %>
      <%= form.collection_select :employee_id, Employee.all, :id, :name %>
      <div class="form-group">
        <%= form.select :healthplan, (options_for_select ["Aetna","Bluecross","Unicare","Wellpoint","Concordia"]) %> 
      </div>
      <%= form.number_field :grosswage %>
      <%= form.submit class: 'btn btn-success'%>

      or
      
      <%= link_to "Cancel", "/employees" %>

  <% end %>

</div>