<div class="row">

  <p class="title1"> <%= @job.name %> of <%= @job.department.name %>: <%= link_to @job.employee.name, "/employees/#{@job.employee_id}"%> </p>
    <div class="edit-delete">
       <b> <%= link_to 'Edit', {:action => 'edit', :id => @job.id} %></b>
       <b> <%= link_to "Delete", "/jobs/#{@job.id}", method: :delete, data: { confirm: "Are you sure?" } %></b>
    </div>
    
    <div class="job">
      <p class="text">Division: <%= link_to @job.division.name, "/divisions/#{@job.division_id}"%></p>
      <p class="text">Department: <%= link_to @job.department.name, "/departments/#{@job.department_id}"%></p>
      <p class="text">Health Plan: <%= @job.healthplan %></p>
      <p class="text">Monthly Gross Wage: <%= @job.grosswage %></p>
    </div>

</div>