
<div class="row">
  <div class="buttons">
    <%= link_to "+ Division", "/divisions/new", class: 'btn btn-primary addnew' %>
    <%= link_to "+ Department", "/departments/new", class: 'btn btn-primary addnew' %>
  </div>
</div>

<div class="row structure">
  <p class="title1">COMPANY STRUCTURE</p>
  
  <% @divisions.each do |division| %>
    <div class="col-xs-8 col-sm-2">
        <a class= "division" href="/divisions/<%= division.id %>"><%= division.name %></a>
        <ul>
          <% division.departments.each do |department| %>
              <li class = "department"><%= link_to department.name, "/departments/#{department.id}", :class=>"department"%></li>
          <% end %>
        </ul>
    </div>
  <% end %>
</div>




